@charset "utf-8";
@font-face {
font-family: ubuntuRegular;
src: url("./font/Ubuntu-R.ttf") format('truetype')
}

body {
/* 	margin:80px;  */
	height:100%; 
	overflow-x:hidden; 
	overflow-y:auto; 
	font-family: Arial;
	document.body.style.zoom=.75;this.blur();
	s
	
/* 	background-image: url("./img/tesoura.jpg"); */
}
#carne1 {
	float: left;
}
#carne2 {
}
#top {		
	position: absolute; 
	margin: 0px; 
	bottom: auto; 
	width: auto;  
	top: 0px; 
	left: 0px; 
	right: 0px; 
	height: 80px; 
	display: block; 
	visibility: visible; 
	border:1px solid #22a9d4; 
	background-color: #0489B1;
}
h2{
	font-size: 13px;
	margin-bottom: 0px;
	
}
h3 {
	font-size: 10px;
	padding-top: -10px;
	margin-top: -3px;
	font-family: Arial;
	font-stretch: normal;
	font-style: normal;
}
h4 {
	font-size: 12px;
}
#impressao {
	background-color: white;
}
#logo {
	margin-left:10px;
	float: left;
	padding-bottom:30px;	
/* 	border: 1px solid red; */
}
#txtCabecalho {	
	size:100px;
	max-height:150px;
	float:left;
	text-align: left;
/* 	border: 3px solid yellow; */
	padding-left:40px;
	position: static;		
}
#contrato {
	font-family: Arial;
}
#rodaPe {
	z-index : 100;
	text-align: center;
	width: 100%;
	font-size: 10px;
	padding-top: 20px;
	vertical-align: text-bottom;
	bottom: 100%;
	
}
#tbHorario{
	text-align: center;
}

.tbocorrenciaRow{
    border: 1px solid black;
    background: white;
    font-size: 9px; 
}
div[id$="tbOcorrencia"]>div>table>thead { 
	display:none; 
	background: white;
}

#cabecalho {	
	height:150px;
/* 	border: 1px solid blue;		 */
}
table.tabelaDados {
	border-collapse: collapse;
}
table.tabelaDados tr td{
	font-size: 9px;
	border: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
}
table.tabelaDados tr.txtPqno td{	
	font-size: 7px;
	border-bottom: 1px solid white;
}
table.tabelaDados tr.txtG td{	
	font-size: 11px;
	border-bottom: 1px solid black;
	max-height: 20px;
}
.dados {
	font-size: 12px;
/*     border: 1px solid black; */
		border:none;
		font-style: italic;
}
.detalheContrato {
	text-decoration: underline;
	font-family: Arial;		
}



