@charset "utf-8";
@font-face {
font-family: ubuntuRegular;
src: url("./font/Ubuntu-R.ttf") format('truetype')
}

body {
	margin:0px; 
	height:100%; 
	overflow-x:hidden; 
	overflow-y:auto; 
	background-color:#20272a; 
	font-family: 'exoregular', "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#top {		
	position: absolute; 
	margin: 0px; 
	bottom: auto; 
	width: auto;  
	top: 0px; 
	left: 0px; 
	right: 0px; 
	height: 80px; 
	display: block; 
	visibility: visible; 
	border:1px solid #22a9d4; 
	background-color: #0489B1;
}
#img_logo {
	position: relative;
	float: left;
	margin-left:10px;
	padding-left: 10px;
	margin-right:20px;
}
#bemVindo {
	float: right;
	margin-top: 40px;
	margin-right:20px;
	color: white;
	text-transform: uppercase;
	font-size: 14px;
	position: absolute;
	margin-left: 80%;
	z-index: 1;
}
#menu {
	position: absolute; 
	margin: 0px; 
	z-index: 0; 
	display: block; 
	visibility: visible; 
	top: 80px; 
	width: 240px;
	bottom: 0px; 
	left:0px; 
	right: 0px; 
	border:1px solid #a6c9e2;
	background-color: #313b3f;
	float: left;
}
#conteudo {
	position: absolute; 
	margin: 0px; 
	z-index: 0; 
	display: block; 
	visibility: visible; 
	top: 85px; 
	bottom: 0px; 
	left: 183px; 
	right: 0px; 
	border:0px solid #a6c9e2;
	height:auto;
	background-color: #D9D9D9;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	
	border-bottom: 4px solid #656659;
  	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	border-radius: 3px;
}

.panelGrid.ui-panelgrid>*>tr,
.panelGrid.ui-panelgrid>*>tr>td {
	font-size: 14px;
/*     border: 1px solid black; */
		border:none;
		
}
#clock {
	font-size: 9px;
	margin-left: 10px;
	margin-top: 15px;
	margin-bottom: 10px;
}

#MENUSIDE {
		position: absolute; 
		margin: 0px; 
		z-index: 0; 
		display: block; 
		visibility: visible; 
		top: 85px; 
		width: 180px;
		bottom: 0px; 
		left:0px; 
		right: 0px; 
		border-right:solid 4px #151d21; 
		background-color: #313b3f;
		float: left;
}

.carne{
	background-image: url("../resources/img/carne.png") !important;
	background: black;
	visibility: hidden;	
}

#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: "Trebuchet MS";
  font-size: 14px;
  position: relative;
}
#cssmenu {
  width: 180px;
  border-bottom: 4px solid #656659;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#cssmenu a {
  line-height: 1.3;
}
#cssmenu > ul > li:first-child {
 /* background: #66665e; */
  background: #31a8e9;
  background: -moz-linear-gradient(#66665e 0%, #45463d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66665e), color-stop(100%, #45463d));
  background: -webkit-linear-gradient(#66665e 0%, #45463d 100%);
  background: linear-gradient(#66665e 0%, #45463d 100%);
  border: 1px solid #45463d;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#cssmenu > ul > li:first-child > a {
  padding: 15px 10px;
  border: none;
  border-top: 1px solid #818176;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  text-shadow: 0 -1px 1px #000000;
}
#cssmenu > ul > li:first-child > a > span {
  padding: 0;
}
#cssmenu > ul > li:first-child:hover {
  background: #66665e;
  background: -moz-linear-gradient(#66665e 0%, #45463d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66665e), color-stop(100%, #45463d));
  background: -webkit-linear-gradient(#66665e 0%, #45463d 100%);
  background: linear-gradient(#66665e 0%, #45463d 100%);
}
#cssmenu > ul > li {
  background: #31b0e9;
  background: -moz-linear-gradient(#31b0e9 0%, #2483AF 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #31b0e9), color-stop(100%, #2483AF));
  background: -webkit-linear-gradient(#31b0e9 0%, #2483AF 100%);
  background: linear-gradient(#31b0e9 0%, #2483AF 100%);
}
#cssmenu > ul > li:hover {
  background: #3A62C7;
  background: -moz-linear-gradient(#3A62C7 0%, #2A3C95 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3A62C7), color-stop(100%, #2A3C95));
  background: -webkit-linear-gradient(#3A62C7 0%, #2A3C95 100%);
  background: linear-gradient(#3A62C7 0%, #2A3C95 100%);
}
#cssmenu > ul > li > a {
  font-size: 18px;
  display: block;
  background: url(resources/images/pattern.png) top left repeat;
  color: #ffffff;
  border: 1px solid #3A62C7;
  border-top: none;
  text-shadow: 0 -1px 1px #0A0041;
}
#cssmenu > ul > li > a > span {
  display: block;
  padding: 7px 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
}
#cssmenu > ul > li.active {
  border-bottom: none;
}
#cssmenu > ul > li.has-sub > a span {
  background: url(../../resources/img/icon_plus.png) 96% center no-repeat;
}
#cssmenu > ul > li.has-sub.active > a span {
  background: url(../../resources/img/icon_minus.png) 96% center no-repeat;
  
}
/* Sub menu */
#cssmenu ul ul {
  display: none;
  background: #fff;
  border-right: 1px solid #a2a194;
  border-left: 1px solid #a2a194;
}
#cssmenu ul ul li {
  padding: 0;
  border-bottom: 1px solid #d4d4d4;
  border-top: none;
  background: #f7f7f7;
  background: -moz-linear-gradient(#f7f7f7 0%, #ececec 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #ececec));
  background: -webkit-linear-gradient(#f7f7f7 0%, #ececec 100%);
  background: linear-gradient(#f7f7f7 0%, #ececec 100%);
}
#cssmenu ul ul li:last-child {
  border-bottom: none;
}
#cssmenu ul ul a {
  padding: 10px 10px 10px 25px;
  display: block;
  color: #676767;
  font-size: 12px;
  font-weight: normal;
}
#cssmenu ul ul a:before {
  content: "";
  position: absolute;
  left: 10px;
  color: #31b0e9;
}
#cssmenu ul ul a:hover {
  color: #31b0e9;  
}
#cssmenu ul ul a:active {
  color: #FFFF00;
}
#login-dialog {
	width: 260px;
	margin: auto;
	margin-top: 150px;
}

.grid-login {
	background-color: #f2f2f2;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin-top: 8px;
	padding: 10px;
	width: 100%;
}
